.menu {
    width: 100vw;
    background-color: rgba(217, 217, 217, 0.8);
    padding: 0%;
}

.landing {
    height: 86vh;
}

.logo {
    height: 5rem;
}

.field {
    height: 40rem;
    width: 100vw;
    padding: 0%;
    position: absolute;
    margin: 0;
}

.background {
    width: 100vw;
}

.field2 {
    width: 100vw;
    filter: opacity(0.5);
    position: absolute;
}

#field3 {
    height: 100rem;
}

h1 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: green;
    color: rgba(255, 255, 255, 0.7);
    font-style: italic;
}

.name {
    margin-top: 38vh;
}

@media (max-width:767px) {
    .accroche {
        text-align: center;
    }

    .paille-video {
        flex-wrap: wrap;
    }

    .gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }

    .landing {
        height: 69vh;
    }

}


.main {
    padding-top: 10vh;
    padding-bottom: auto;
}

.paille-video {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cards {
    padding-top: 2rem;
}


.pic {
    padding: 0;
}

.video-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.gallery {
    color: #313437;
}

.gallery p {
    color: #7d8285;
}

.gallery h2 {
    font-weight: bold;
    color: inherit;
}


.gallery .intro p {
    margin-bottom: 0;
}

.gallery .photos {
    padding-bottom: 20px;
}

.gallery .item {
    padding-bottom: 30px;
}